<!DOCTYPE html>
<html lang="es">
<head>
    <%-include('../partials/head') %> 
    <link rel="stylesheet" href="/css/editar.css">
    <title>Eliminar Cursos</title>
</head>

<body class="body">
    <%-include('../partials/header') %>

    <main>
        <figure class="img-figure">
            <img src="../../../img/" >
            <label></label>
        </figure>
        <div class="cont">
            <div class="img">
                <h2 id="titulo">Eliminar producto</h2>
            </div>
        </div>
    </main>

    <%-include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>