body {
    height: 100vh;
    position: relative;
    background-image: url(../img/fondos/isla.jpeg);
    background-size: cover;
}
body{
    min-height: 1200px;
}
body{
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.container{
    width: 100%;
    display: flex;
    padding-top: 100px;
    color: black;
}
.right{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
}
.left{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 50px;
}
.left>img, .right>img{
    width: 50px;
    height: 50px;
}
.left>a, .right>a{
    text-decoration: none;
    color: #d1e0ff;
    margin-top: 50px;
}
.left>a:hover, .right>a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 30px rgb(179, 99, 255);
}
.botella{
    display: flex;
    align-items: center;
}
