<!DOCTYPE html>
<html lang="es">
<head>
  <%-include('partials/head') %> 
  <link rel="stylesheet" href="/css/carrito-compras.css">
  <title>Carrito de Compras</title>
</head>
<body class="body">

  <%-include('partials/header') %>
  
<main>
<div class="marco"><a name="title-shop-cart"></a>
  <div class="container">
    <div class="contain-hed">
      <h1 class="title">Carrito de Compras</h1>
    <div href="/" class="carrito-img" href=""></div>
    </div>

    <div class="cont-butt">
    <button class="comprar" type="button" placeholder="Comprar">Comprar</button>
    </div>
  </div>
</div>
</main>

<%- include('partials/footer') %> 

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>