<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include ('partials/head') %>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
  <div class="blur">
    <%-include ('partials/header') %>

    <div class="container">
      <div class="left">
        <a href="">VENTA DE LICOR A DOMICILIO LAS 24 HORAS</a>
        <img src="../img/1.png" alt="" />
        <a href="">RÁPIDO SERVICIO A DOMICILIO (30 O 40 MINUTOS)</a>
        <img src="../img/2.png" alt="" />
        <a href="">¡REALIZA TU ORDEN EN SEGUNDOS!</a>
        <img src="../img/3.png" alt="" />
      </div>
      <div class="botella">
        <img class="botella-img" src="../img/licores/absolut.png" alt="botella" />
      </div>
      <div class="right">
        <a href="">LICORES 100% ORIGINALES</a>
        <img src="../img/4.png" alt="" />
        <a href="">HAZ EL PEDIDO DE DOMICILIO 24 HORAS</a>
        <img src="../img/5.png" alt="" />
        <a href="">INMENSA VARIEDAD DE LICORES NACIONALES E IMPORTADOS</a>
        <img src="../img/6.png" alt="" />
      </div>
    </div>
  </div>
    <%-include ('partials/footer') %>
  </body>
</html>
