<!DOCTYPE html>
<html lang="es">
<head>
  <%-include('partials/head')%> 
  <link rel="stylesheet" href="/css/index.css">
  <title>veinticuatro siete</title>
</head>
<body>
  <div class="blur">
    <%-include ('partials/header') %>
    <div class="container">
      <div class="left">
        <a href="/products/catalogo">VENTA DE LICOR A DOMICILIO LAS 24 HORAS</a>
        <img src="../img/icons/1.png" alt="" />
        <a href="/products/catalogo">RÁPIDO SERVICIO A DOMICILIO (30 O 40 MINUTOS)</a>
        <img src="../img/icons/2.png" alt="" />
        <a href="/products/catalogo">¡REALIZA TU ORDEN EN SEGUNDOS!</a>
        <img src="../img/icons/3.png" alt="" />
      </div>
      <div class="botella">
        <img class="botella-img" src="../img/licores/absolut.png" alt="botella" />
      </div>
      <div class="right">
        <a href="/products/catalogo">LICORES 100% ORIGINALES</a>
        <img src="../img/icons/4.png" alt="" />
        <a href="/products/catalogo">HAZ EL PEDIDO DE DOMICILIO 24 HORAS</a>
        <img src="../img/icons/5.png" alt="" />
        <a href="/products/catalogo">INMENSA VARIEDAD DE LICORES NACIONALES E IMPORTADOS</a>
        <img src="../img/icons/6.png" alt="" />
      </div>
    </div>
  </div>
    <%-include ('partials/footer') %>
  </body>
</html>