<head>
    <%-include('./head') %> 
    <link rel="stylesheet" href="/css/footer.css">
</head>
<footer>
    <div class="mar">
    <div class="cont">
        <p>© Copyright 2023 - VEINTICUATRO / SIETE</p>
        <p>Licores 24 Horas</p>
    </div>
    </div>
</footer>
