<head>
    <%-include('./head') %> 
    <link rel="stylesheet" href="/css/header.css">
</head>
<header>
    <div class="container-navbar">
        <div class="cont-left">
            <a href="/products/catalogo"><button class="but">CATALOGO</button></a>
        </div>
        <div class="cont-log">
                <summary data-text="Awesome" class="logo">
                    <span class="actual-text" href="/">VEINTICUATRO/SIETE</span>
                    <span class="hover-text" href="/" aria-hidden="true">VEINTICUATRO/SIETE</span>
                </summary>
        </div>
        <div class="cont-right">
            <% if(usu) {%> 
            <a href="/usuario/vista-perfil"><button class="but">PERFIL</button></a>
            <% }else { %> 
            <a href="/usuario/login"><button class="but">INICIAR SESION</button></a>
            <% } %> 
            </div>
        </div>
        <div class="carrito">
            <span class="loader">
                <a href="/"><img src="../img/icons/shop-car.png" class="shop-car"></a>
            </span>
        </div>
    </div>
</header>