<!DOCTYPE html>
<html lang="en">
<head>

  <%-include ('../partials/head') %> 
  <link rel="stylesheet" href="./css/catalogo.css">
</head>
<body>
<%-include ('../partials/header') %>
<div class="blur">
  <div class="container">
    <div class="cont-main">
      <div class="card">
        <div class="card-info">
          <div class="top">
            <img src="../img/licores/absolut.png" alt="">
          </div>
          <div class="bottom">
            <div class="up">
              <p>Absolut vodka</p>
              <p>$50.000</p>
            </div>
            <div class="down">
              <p>Lorem ipsum dolor sit amet crat hic excepturi nemo mollitia illo reiciendis, perferendis beatae! Beat</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include ('../partials/footer') %>
</body>
</html>